header {
    .container {
        margin-bottom: 48px;
        text-align: center;
    }
}

.brand {
    color: $brand-primary;
    margin: 24px auto;
    font-family: $font-secondary;
}

.logo {
    background: url(../images/logo.png) center center no-repeat;
    background-size: contain;
    text-indent: -99999px;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 160px;

    &:hover {
        text-decoration: none;
    }
}

.tagline-one {
    color: $white;
    font-size: rem-calc(40px);
    line-height: 3rem;
}

.tagline-two {
    color: #aaa;
    margin-bottom: 40px;
}