.nav {
    border-top: 1px solid #424242;
    border-bottom: 3px solid $white;
    list-style: none;
    overflow: hidden;
    margin-top: 24px;
    font-family: $font-secondary;
    font-weight: 700;

    li {
        border-bottom-color: #b7b7b7;
        float: left;

        &.current-menu-item {
            background-color: #eaeaea;

            a {
                color: $black;
            }
        }

        &:hover {
            background-color: $white;

            a {
                color: $black;
            }
        }

        a {
            display: block;
            padding: 6px 24px;
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }
}