input,
textarea {
    height: 32px;
    margin: 0px 0 15px;
    width: 100%;
    padding: 4px 6px;
    border: 1px solid #424242;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #303030;
    color: $white;

    &:focus {
        border-color: $brand-primary;
        outline: none;
        background: transparent;
    }
}

textarea {
    height: 150px;
    display: inherit;
}

input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
    @include transition(all, .3s, ease);
    background: white;
    border: 3px solid $brand-primary;
    color: $brand-primary;
    height: 40px;
    font-weight: bold;

    &:hover {
        color: $white;
        background-color: $brand-primary;
        @include transition(all, .3s, ease);
    }
}