html, body {
    font: 100%/1.5 $font;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: $white;
}

.wrap {
    background-color: $black;
}

img {
    max-width: 100%;
}

a {
    color: $brand-primary;
    text-decoration: none;

    &:hover {
        color: $brand-primary;
        text-decoration: underline;
    }
}

iframe {
    max-width: 100%;
}

ul {
    list-style-position: inside;
}